<div class="edu-header">
<span class="edu-alma"><%= data.alma %></span>
    <span class="edu-duration"><%= data.duration %></span>
</div>
<div class="edu-class-data">
    <% data.lines.forEach((line) => { %>

            <span class="edu-std"><%= line %></span><br />
  
    <% }); %>
    
</div>
